/* style.css */
body .container {
    padding: 0;
  }
  
  .white {
    height: 98vh;
    width: 100vw;
    background: beige;
  }
  
  .black {
    height: 98vh;
    width: 100vw;
    background: black;
  }
  
  .yellow {
    height: 98vh;
    width: 100vw;
    background: yellow;
  }
  
  .toolbar {
    display: flex;
    position: fixed;
    top: 15px;
    right: 10px;
  }
  
  .white-btn {
    background: beige;
    border-radius: 2px 0 0 2px;
  }
  
  .yellow-btn {
    background: yellow;
    border-radius: 0;
  }
  
  .black-btn {
    background: black;
    border-radius: 0 2px 2px 0;
  }
  
  body button:hover {
    filter: brightness(1.1);
    opacity: 1;
  }
  
  